In [ ]:
# even or odd

4/2

2.0

In [ ]:
4%2, 5%2 # modulo operator

(0, 1)

In [ ]:
num = int(input("Enter a number"))

if num%2==0:
  print("Even Number")
else:
  print("Odd Number")

Enter a number47
Odd Number

In [ ]:
num = int(input("Enter a number"))

print(f"The given number is: {'Even' if num%2==0 else 'Odd'}")

Enter a number96
The given number is: Even

In [ ]:
even = 'Even' if num%2==0 else 'Odd'

In [ ]:
even

'Even'

In [ ]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))

if num1 > num2:
  print("Num-1 is greater")
elif num1 == num2:
  print("Equal number")
else:
  print("Num-2 is greater")

Enter a number15
Enter a number15
Equal number

1. Write a program that takes two numbers as input and returns the largest of them.​

In [ ]:
x = int(input("Enter a number: "))
y = int(input("Enter another number:"))

if x>y:
  print("x is greather than y")
elif x<y:
  print("y is greater than x")
else:
  print("x and y both are equal.")

Enter a number: 23
Enter another number:12
x is greather than y

2. Write a program to input any number and check whether it is even or odd.​

In [ ]:
num = int(input("Enter a number"))

if num%2==0:
  print("Even Number")
else:
  print("Odd Number")

3. Write a program to input angles of a triangle and check whether triangle is valid or not.
(A triangle is valid if the sum of all the three angles is equal to 180 degrees Or A triangle is valid if sum of its two sides is greater than the third side)

In [ ]:
angles = [45, 100, 35]

if sum(angles) == 180:
  print("Triangle is valid.")
else:
  print("Triangle is invalid")

Triangle is valid.

In [ ]:
angles = input("Enter three angles seperated by comma").split(',')

print(angles)

sum_angles = sum([int(i) for i in angles])

if sum_angles == 180:
  print("Triangle is valid.")
else:
  print("Triangle is invalid")

Enter three angles seperated by comma45,45,90
['45', '45', '90']
Triangle is valid.

4. Write a program to input any alphabet and check whether it is vowel or consonant.​

In [ ]:
char = input("Enter a character: ")

if char.lower() in "aeiou":
  print('Vowel')
else:
  print("Consonant")

Enter a character: E
Vowel

In [ ]:
char = input("Enter a character: ")

if char in "aeiou" or char in "AEIOU":
  print('Vowel')
else:
  print("Consonant")

In [ ]:
char = input("Enter a character: ")

if char.upper() in "AEIOU":
  print('Vowel')
else:
  print("Consonant")

In [ ]:
char = input("Enter a character: ")

if char.lower() in ['a', 'e', 'i', 'o', 'u']:
  print('Vowel')
else:
  print("Consonant")

Vowel

5. Write a program to input any year and check whether it is leap year or not.

In [ ]:
2024 => Leap year => divisible by 4

2000 => Leap year => divisible by 400

1900 => No leap year => not divisible by 100

Leap year
Divisible by 4 → If the year is divisible by 4, it might be a leap year.
Not divisible by 100 → However, if the year is divisible by 100, it is NOT a leap year.
Divisible by 400 → If the year is also divisible by 400, then it is a leap year.

In [ ]:
year = int(input("Enter a year: "))

if (year%4==0) and ((year%400==0)  or (year%100!= 0)):
  print("Leap Year")
else:
  print("Not a Leap Year")

Enter a year: 2100
Not a Leap Year

Write a program to input electricity unit charges and calculate total electricity bill according to the given condition: ​

- For first 50 units Rs. 0.50/unit​
- For next 100 units Rs. 0.75/unit​
- For next 100 units Rs. 1.20/unit​
- For unit above 250 Rs. 1.50/unit​

An additional surcharge of 20% is added to the bill

In [ ]:
units = int(input('Enter electricity units:'))

if units<=50:
  bill = units*0.5
elif units > 50 and units <= 150:
  bill = 50*0.5 + (units-50)*0.75
elif units>150 and units <= 250:
  bill = 50*0.5 + 100*0.75 + (units-150)*1.2
elif units>250:
  bill = 50*0.5 + 100*0.75 + 100*1.2 + (units-250)*1.5

bill *= 1.2

print("Bill Amount:", bill)

Enter electricity units:80
Bill Amount: 57.0

In [ ]:
bill == 57 #unit test

True

In [ ]:
units = int(input('Enter electricity units:'))

match units:
  case units <= 50:
    print("less than 50")
  case units > 50 and units <= 150:
    print("Between 50-150")

SyntaxError: invalid syntax (<ipython-input-40-5edc433c74ff>, line 4)

In [ ]:
day = int(input("Enter a day between 1-7"))

match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case _:
    print("Not defined")

In [ ]:
day = int(input("Enter a day between 1-7"))

match day:
  case 1 | 2:
    print("Monday")
  case 3 | 4:
    print("Tuesday")
  case _:
    print("Not defined")

Enter a day between 1-75
Not defined

In [ ]:
day = int(input("Enter a day between 1-7"))

dict_example = {1: "Monday", 2:"Tuesday", 3: "Wednesday"}

dict_example[day]

Enter a day between 1-72

'Tuesday'

In [ ]:
dict_example.get(day)

'Tuesday'