In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
list1 = [2,3,1,"avinash", 'python', 'data engineering']
for i in list1:
  print(i + 1)

3
4
2

TypeError: can only concatenate str (not "int") to str

In [ ]:
for i in (2,3,1,"avinash", 'python', 'data engineering'):
  print(i)

2
3
1
avinash
python
data engineering

In [ ]:
dict1 = {1:'A', 2:'B', 3:'C'}

for i,j in dict1.items():
  print(i,j)

1 A
2 B
3 C

In [ ]:
dict1.items()

dict_items([(1, 'A'), (2, 'B'), (3, 'C')])

In [ ]:
dict1.keys(), dict1.values()

(dict_keys([1, 2, 3]), dict_values(['A', 'B', 'C']))

In [ ]:
for i in dict1.values():
  print(i)

A
B
C

In [ ]:
list(enumerate(list1))

[(0, 2),
 (1, 3),
 (2, 1),
 (3, 'avinash'),
 (4, 'python'),
 (5, 'data engineering')]

In [ ]:
for index, value in enumerate(list1):
  print(list1[index])

2
3
1
avinash
python
data engineering

#Exercise

1. Write a program to print table of any number.​

In [ ]:
num = int(input("Enter a number:"))

for i in range(1,11):
  print(num*i)

Enter a number:23
23
46
69
92
115
138
161
184
207
230

2. Write a program which can compute the factorial of a given numbers.​

In [ ]:
num = int(input("Enter a number:"))
fact = 1
for i in range(2,num+1):
  fact = fact*i  # 1* 2 = 2 => 2*3 = 6 => 6*4 = 24 => 24 * 5 => 120 *6 => 720
  # indentation

print("Factorial:",fact)

Enter a number:6
Factorial: 720

3. Write a program to find sum of natural numbers.​

In [ ]:
num = int(input("Enter a number:"))

s=0

for i in range(1,num+1):
  s=s+i

print("Sum of N natural number is:", s)

Enter a number:5
Sum of N natural number is: 15

4. Write a program to print all even numbers between 1 to 100. ​

5. Write a program to enter any number and calculate sum of its digits.​

In [ ]:
num = int(input("Enter a number:"))

s = 0
for i in range(len(str(num))):
  r = num%10
  s = s+r
  num = num//10

print(s)

Enter a number:15
6

In [ ]:
num = input("enter a number")

l = list(num)
sum([int(i) for i in l])

enter a number234

In [ ]:
int(num[::-1])

432

In [ ]:
# Time, Space, Speed

9

6. Write a program to enter any number and calculate product of its digits.​

In [ ]:
123 -> 1*2*3 -> 6

In [4]:
num = int(input('Enter a number:'))

product = 1
while num>0:
  rem = num%10
  product = product*rem
  num = num//10

print("Product:", product)

Enter a number:12301
Product: 0

7. Write a program to enter any number and print reverse of that number.

In [ ]:
123 -> 321
12421 -> 12421 palindrome

In [6]:
num = int(input('Enter a number:'))

s = 0
while num>0:
  rem = num%10
  s = s*10+rem
  num = num//10

print("Reversed Number:", s)

Enter a number:153
Reversed Number: 351

8. Write a Python script that checks if a string is a Palindrome.

In [ ]:
NITIN -> NITIN # palindrome
AVINASH -> HSANIVA not palindrome

In [8]:
s = input("Enter a string:")

"".join(list(s)[::-1])

Enter a string:avinash

'hsaniva'

In [16]:
s = input("Enter a string:")

temp =""
for i in range(1,len(s)+1):
  temp += s[-i]

print(temp)

if s==temp:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter a string:Icecream
maercecI
Not Palindrome

In [23]:
s = 'Sachin'
s1 = s
s = 'Rachin'
if s==s1:
  print("equal")
else:
  print("not equal")

not equal

In [24]:
s, s1

('Rachin', 'Sachin')