In [ ]:
# Prime Number


# Definition
def check_prime_number():
  num = int(input("Enter a number"))

  is_prime = True

  for i in range(2,num):
    print(i)
    if num%i == 0:
      is_prime = False
      break

  if is_prime:
    print("Prime Number")
  else:
    print("Not a Prime Number.")

In [ ]:
check_prime_number() # Calling function

Enter a number35
2
3
4
5
Not a Prime Number.

In [ ]:
# Definition
def check_prime_number(num):
  is_prime = True

  for i in range(2,num):
    if num%i == 0:
      is_prime = False
      break

  if is_prime:
    return "Prime Number"
  else:
    return "Not a Prime Number."

In [ ]:
num = int(input("Enter a number"))
result = check_prime_number(num)
print(result)

Enter a number41
Prime Number

In [ ]:
check_prime_number(23), check_prime_number(34)

('Prime Number', 'Not a Prime Number.')

In [ ]:
for i in range(2,101):
  result = check_prime_number(i)
  print(i, result)

2 Prime Number
3 Prime Number
4 Not a Prime Number.
5 Prime Number
6 Not a Prime Number.
7 Prime Number
8 Not a Prime Number.
9 Not a Prime Number.
10 Not a Prime Number.
11 Prime Number
12 Not a Prime Number.
13 Prime Number
14 Not a Prime Number.
15 Not a Prime Number.
16 Not a Prime Number.
17 Prime Number
18 Not a Prime Number.
19 Prime Number
20 Not a Prime Number.
21 Not a Prime Number.
22 Not a Prime Number.
23 Prime Number
24 Not a Prime Number.
25 Not a Prime Number.
26 Not a Prime Number.
27 Not a Prime Number.
28 Not a Prime Number.
29 Prime Number
30 Not a Prime Number.
31 Prime Number
32 Not a Prime Number.
33 Not a Prime Number.
34 Not a Prime Number.
35 Not a Prime Number.
36 Not a Prime Number.
37 Prime Number
38 Not a Prime Number.
39 Not a Prime Number.
40 Not a Prime Number.
41 Prime Number
42 Not a Prime Number.
43 Prime Number
44 Not a Prime Number.
45 Not a Prime Number.
46 Not a Prime Number.
47 Prime Number
48 Not a Prime Number.
49 Not a Prime Number.
50 Not a Prime Number.
51 Not a Prime Number.
52 Not a Prime Number.
53 Prime Number
54 Not a Prime Number.
55 Not a Prime Number.
56 Not a Prime Number.
57 Not a Prime Number.
58 Not a Prime Number.
59 Prime Number
60 Not a Prime Number.
61 Prime Number
62 Not a Prime Number.
63 Not a Prime Number.
64 Not a Prime Number.
65 Not a Prime Number.
66 Not a Prime Number.
67 Prime Number
68 Not a Prime Number.
69 Not a Prime Number.
70 Not a Prime Number.
71 Prime Number
72 Not a Prime Number.
73 Prime Number
74 Not a Prime Number.
75 Not a Prime Number.
76 Not a Prime Number.
77 Not a Prime Number.
78 Not a Prime Number.
79 Prime Number
80 Not a Prime Number.
81 Not a Prime Number.
82 Not a Prime Number.
83 Prime Number
84 Not a Prime Number.
85 Not a Prime Number.
86 Not a Prime Number.
87 Not a Prime Number.
88 Not a Prime Number.
89 Prime Number
90 Not a Prime Number.
91 Not a Prime Number.
92 Not a Prime Number.
93 Not a Prime Number.
94 Not a Prime Number.
95 Not a Prime Number.
96 Not a Prime Number.
97 Prime Number
98 Not a Prime Number.
99 Not a Prime Number.
100 Not a Prime Number.

In [ ]:
import math
# from math import sqrt

def heron(a,b,c):
  """
  input: 3 triangle sides
  purpose: calculate area of triangle
  output: float-area of triangle
  """
  s = (a+b+c)/2
  area = math.sqrt(s*(s-a)*(s-b)*(s-c))
  return area

In [ ]:
heron(5,4,6)

9.921567416492215

In [ ]:
heron(15,14,16)

96.557948921878

# Local Function

In [ ]:
# Global Function
def heron(a,b,c):
  """
  input: 3 triangle sides
  purpose: calculate area of triangle
  output: float-area of triangle
  """
  # local function
  def calculate_s(a,b,c):
    return (a+b+c)/2

  s = calculate_s(a,b,c)
  area = math.sqrt(s*(s-a)*(s-b)*(s-c))

  return area

In [ ]:
heron(15,14,16)

7.5

96.557948921878

In [ ]:
calculate_s(5,4,6) # You can't call local function outside of global function in which it is defined.

NameError: name 'calculate_s' is not defined

In [ ]:
heron().calculate_s(5,4,6)

TypeError: heron() missing 3 required positional arguments: 'a', 'b', and 'c'

# Lambda Functions

In [ ]:
def add(a,b):
  return a+b

add(4,5)

9

In [ ]:
add = lambda a,b: a+b

add(3,4)

7

In [ ]:
num_items = [1,2,3,4,5,6]

In [ ]:
[i**2 for i in num_items]

[1, 4, 9, 16, 25, 36]

In [ ]:
list(map(lambda x:x**2,num_items))

[1, 4, 9, 16, 25, 36]

In [ ]:
str_list = ['a', 'b', 'c', 'a', 'b', 'd']

In [ ]:
mapped = list(map(lambda x: (x,1), str_list))
mapped

[('a', 1), ('b', 1), ('c', 1), ('a', 1), ('b', 1), ('d', 1)]

In [ ]:
from functools import reduce

reduce(lambda a,b:a+b, num_items)

21

In [ ]:
# reduce(lambda a,b:a+b, mapped)

('a', 1, 'b', 1, 'c', 1, 'a', 1, 'b', 1, 'd', 1)

# Variable-length Argument

In [ ]:
def add(*values): # this argument is considered as a tuple and you can iterate and ue it as per your need
  print(values)
  s = 0
  for i in values:
    s+=i
  return s

In [ ]:
add(2) # single

(2,)

2

In [ ]:
add(2,3) # two arguments

(2, 3)

5

In [ ]:
add(2,3,4) # multiple arguments

(2, 3, 4)

9

In [ ]:
def add(**values): # this argument is considered as a dicitonary and you can iterate and ue it as per your need
  print(values)
  s = 0
  for i in values.values():
    s+=i
  return s

In [ ]:
add(a=2) # single

{'a': 2}

2

In [ ]:
add(a=2,b=3) # two arguments

{'a': 2, 'b': 3}

5

In [ ]:
add(a=2,b=3,c=4) # multiple arguments

{'a': 2, 'b': 3, 'c': 4}

9

1. Write a Python function display factors if a given number.

2. Write a Python function to find the maximum of three numbers.â€‹

3. Write a Python function to sum all the numbers in a list.