In [3]:
t = (14,15,12, "avinash", "indore", [2,3,4,5])

print(t)

(14, 15, 12, 'avinash', 'indore', [2, 3, 4, 5])

In [4]:
l = [14,15,12, "avinash", "indore", [2,3,4,5]]

In [5]:
type(t), type(l)

(tuple, list)

In [6]:
len(t)

6

In [7]:
t.count(12)

1

In [8]:
t.index(12)

2

In [9]:
t[2] = 35

TypeError: 'tuple' object does not support item assignment

In [10]:
t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
items = [14,15,12, "avinash", "indore", (2,3,4,5)]

In [13]:
items[5][1] = 23

TypeError: 'tuple' object does not support item assignment

In [14]:
items[5] = "Python"

In [16]:
items

[14, 15, 12, 'avinash', 'indore', 'Python']

In [17]:
t = (12,13,1,14,16,67,23)

In [18]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [19]:
sorted(t)

[1, 12, 13, 14, 16, 23, 67]

In [20]:
tuple(sorted(t))

(1, 12, 13, 14, 16, 23, 67)

In [22]:
list(t)

[12, 13, 1, 14, 16, 67, 23]

In [23]:
int('234')

234