In [ ]:
# Variable length argument
def sample(*args):
  print(args)
  print(type(args))

In [ ]:
sample(2,3,5)

(2, 3, 5)
<class 'tuple'>

In [ ]:
# Variable length argument
def sample(*args):
  s = 0
  for i in args:
    s += i
  print("Sum:", s)

In [ ]:
sample(2,3,5)

Sum: 10

In [ ]:
def order_items(order_id, *item_details):
  print("Order ID:", order_id)
  print("Item Details:", item_details)

order_items(123, 'mouse', 'wireless', 'HP')

Order ID: 123
Item Details: ('mouse', 'wireless', 'HP')

In [ ]:
# Variable length argument
def sample(**args):
  print(args)
  print(type(args))

In [ ]:
sample(a=2, b=3)

{'a': 2, 'b': 3}
<class 'dict'>

In [ ]:
def order_items(order_id, **item_details):
  print("Order ID:", order_id)
  print("Item Details:")
  for k,v in item_details.items():
    print(k, v)

order_items(123, name='mouse', type='wireless', brand='HP')

Order ID: 123
Item Details:
name mouse
type wireless
brand HP

In [ ]:
def order_food(order_id, *items, **details):
  print("Order ID:", order_id)
  print("Items:",items)
  print("Details:", details)

order_food(121, 'Chhole Bhature', "Dosa", order_type='pick-up' ,payment='cash')

Order ID: 121
Items: ('Chhole Bhature', 'Dosa')
Details: {'order_type': 'pick-up', 'payment': 'cash'}

# map(), reduce(), and filter() -functional programming

In [ ]:
items = [2,4,6,3,9]

[i**2 for i in items] # List Comprehension

[4, 16, 36, 9, 81]

In [ ]:
square_items = list(map(lambda x: x**2, items))
square_items

[4, 16, 36, 9, 81]

In [ ]:
def add(x,y):
  return x+y

In [ ]:
from functools import reduce

total = reduce(add,items)

print(total)

24

In [ ]:
product = reduce(lambda x,y: x*y, items)
print(product)

1296

In [ ]:
max_items = reduce(lambda x,y: x if x>y else y, items)
print(max_items)

9

In [ ]:
min_items = reduce(lambda x,y: x if x<y else y, items)
print(min_items)

2

In [ ]:
items

[2, 4, 6, 3, 9]

In [ ]:
list(filter(lambda x: x%2==0, items))

[2, 4, 6]

# Local and Global Variables

In [ ]:
x = 10 # Global variable - outside function

def sample():
  y = 15 # local variable - inside function
  print(x, y)

sample()
print(y)

10 15

NameError: name 'y' is not defined

In [ ]:
x = 10 # Global variable - outside function

def sample():
  x = 15 # local variable - inside function
  print(x)

sample()

15

In [ ]:
x

10

In [ ]:
x = 10 # Global variable - outside function

def sample():
  global x
  x = x + 5 # local variable - inside function
  print(x)

sample()

15

In [ ]:
x

15

In [ ]:
def outer():
  x = 10 # non global
  def inner():
    nonlocal x
    x = x + 5
    print("inner Funciton:", x)
  inner()
  print("Outer",x)

outer()

inner Funciton: 15
Outer 15

In [ ]:
abc = abc + 10

NameError: name 'abc' is not defined